body{
    margin:0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 1rem;
    width: 20vw;
    min-width: 200px;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: dodgerblue;
    gap: 1rem;
    box-shadow: rgba(100, 100, 100, 0.25) 3px 3px 3px;
    z-index: 6;
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    min-height: 0;
}


.header-container {
    box-sizing: border-box;
    flex: 0 0 20vh;
    width: 100%;
    background-color: white;
    padding: 1rem;
    z-index: 5;
    box-shadow: rgba(100, 100, 100, 0.25) 0px 3px 3px;
}

.mastercontent {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 0;
    width: 100%;
    background-color: gainsboro;
    gap: 1rem;
}


.project-container{
    display: flex;
    flex: 1;
}

.app-grid{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1vw;
}

.app-grid > div {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 100, 0.25) 0px 3px 3px;
    box-sizing: border-box;
    border-left: 10px solid orange;
}

.content1-container {
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    min-height: 0;
}

.content2-container {
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 3rem;
    min-height: 0;
}

.content2-block1,
.content2-block2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.announcement-container,
.trending-container {
    flex: 1;
    min-height: 0;
}


.announce-grid{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1vw;
}

.announce-grid > div {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 100, 0.25) 0px 3px 3px;
}

.trending-grid{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1vw;
}

.trending-grid > div {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 100, 0.25) 0px 3px 3px;
}

h3{
    padding-bottom: 1rem;
    margin:0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    color:gray;
    padding: 0;
    margin:0;
}

#search{
    background-color: gainsboro;
    border-radius: 10px;
    border-style: none;
    width: 25vw;
}